binds {
    Super+M hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Super+B hotkey-overlay-title="open firefox" { spawn "firefox"; }
}
